# 忽略 Python 缓存
__pycache__/
*.pyc

# 忽略所有 Checkpoints 和模型权重 (太大了！)
*.pth
*.pt
*.ckpt
*.bin
*.safetensors
checkpoints/
/datadisk/checkpoints/

# 忽略数据集
datasets/
data/

# 忽略所有日志和视频
experiments/logs/
*.mp4
*.wandb

# 忽略虚拟环境
venv/
.env
