nvidia-cuda-cupti-cu12==12.1.105
requests==2.32.5
jsonschema==4.25.1
cachetools==6.2.4
thop==0.1.1-2209072238
filelock==3.20.2
imageio-ffmpeg==0.6.0
llvmlite==0.46.0
annotated-types==0.7.0
dlimp==0.0.1
mdit-py-plugins==0.5.0
libero==0.1.0
pydantic_core==2.41.5
json-numpy==2.1.1
tensorflow==2.15.0
wandb==0.23.1
nvidia-cublas-cu12==12.1.3.1
tensorflow-addons==0.23.0
torch==2.2.0
flash_attn==2.8.3
libclang==18.1.1
google-pasta==0.2.0
sentencepiece==0.1.99
smmap==5.0.2
Pygments==2.19.2
accelerate==1.12.0
cycler==0.12.1
MarkupSafe==3.0.3
certifi==2026.1.4
tensorflow-io-gcs-filesystem==0.37.1
docstring_parser==0.17.0
nvidia-cufft-cu12==11.0.2.54
cloudpickle==3.1.2
iniconfig==2.3.0
egl_probe==1.0.2
wrapt==1.14.2
antlr4-python3-runtime==4.9.3
jsonschema-specifications==2025.9.1
pluggy==1.6.0
rpds-py==0.30.0
tensorboard-data-server==0.7.2
bddl==1.0.1
numba==0.63.1
openvla==0.0.3
nvidia-cusolver-cu12==11.4.5.107
OpenEXR==3.4.4
jupyter_core==5.9.1
fonttools==4.61.1
easydict==1.13
sympy==1.14.0
torchaudio==2.2.0
jsonlines==4.0.0
etils==1.13.0
zipp==3.23.0
tensorflow-graphics==2021.12.3
traitlets==5.14.3
mpmath==1.3.0
GitPython==3.1.46
protobuf==4.21.12
nvidia-cuda-runtime-cu12==12.1.105
exceptiongroup==1.3.1
termcolor==3.3.0
peft==0.11.1
hf-xet==1.2.0
wheel==0.45.1
fsspec==2025.12.0
tensorflow-metadata==1.17.2
flatbuffers==25.12.19
networkx==3.4.2
requests-oauthlib==2.0.0
tomli==2.3.0
typing-inspect==0.9.0
array_record==0.8.1
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
platformdirs==4.5.1
matplotlib==3.10.8
keras==2.15.0
fastjsonschema==2.21.2
rsa==4.9.1
gymnasium==1.2.3
nvidia-nvjitlink-cu12==12.9.86
Farama-Notifications==0.0.4
importlib_resources==6.5.2
typeguard==2.13.3
psutil==7.2.1
packaging==25.0
gitdb==4.0.12
click==8.3.1
attrs==25.4.0
jupytext==1.18.1
einops==0.8.1
tokenizers==0.19.1
mdurl==0.1.2
mergedeep==1.3.4
gast==0.7.0
Jinja2==3.1.6
tensorboardX==2.6.4
triton==2.2.0
opt_einsum==3.4.0
nbformat==5.10.4
tensorflow-estimator==2.15.0
robosuite==1.4.0
scipy==1.15.3
oauthlib==3.3.1
immutabledict==4.2.2
hf_egl_probe==1.0.2
nvidia-nccl-cu12==2.19.3
pip==25.3
python-dateutil==2.9.0.post0
nvidia-curand-cu12==10.3.2.106
tqdm==4.67.1
timm==0.9.10
contourpy==1.3.2
mujoco==3.4.0
astunparse==1.6.3
ninja==1.13.0
draccus==0.8.0
dm-tree==0.1.9
trimesh==4.10.1
PyYAML==6.0.3
markdown-it-py==4.0.0
tensorboard==2.15.2
grpcio==1.76.0
google-auth-oauthlib==1.2.3
nvidia-cusparse-cu12==12.1.0.106
PyOpenGL==3.1.10
pyparsing==3.3.1
pytest==9.0.2
glfw==2.10.0
urllib3==2.6.2
sentry-sdk==2.48.0
google-auth==2.41.1
charset-normalizer==3.4.4
pyasn1_modules==0.4.2
absl-py==2.3.1
typing_extensions==4.15.0
Werkzeug==3.1.4
torchvision==0.17.0
bitsandbytes==0.43.1
nvidia-cudnn-cu12==8.9.2.26
pydantic==2.12.5
ImageIO==2.37.2
h5py==3.15.1
pyyaml-include==1.4.1
mypy_extensions==1.1.0
huggingface-hub==0.36.0
hydra-core==1.3.2
rich==14.2.0
pillow==12.1.0
idna==3.11
toml==0.10.2
six==1.17.0
Markdown==3.10
pyarrow==22.0.0
pyasn1==0.6.1
tensorflow-datasets==4.9.3
typing-inspection==0.4.2
opencv-python==4.12.0.88
promise==2.3
regex==2025.11.3
simple-parsing==0.1.7
ml-dtypes==0.2.0
future==1.0.0
referencing==0.37.0
robomimic==0.2.0
numpy==1.26.4
transformers==4.40.1
safetensors==0.7.0
kiwisolver==1.4.9
nvidia-cuda-nvrtc-cu12==12.1.105
setuptools==80.9.0
inflect==7.3.1
jaraco.context==5.3.0
jaraco.text==3.12.1
packaging==24.2
typing_extensions==4.12.2
wheel==0.45.1
backports.tarfile==1.2.0
jaraco.functools==4.0.1
autocommand==2.2.2
typeguard==4.3.0
more-itertools==10.3.0
jaraco.collections==5.1.0
tomli==2.0.1
zipp==3.19.2
importlib_metadata==8.0.0
platformdirs==4.2.2
